agno==1.7.11
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
antiorm==1.2.1
anyio==4.4.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.80
botocore==1.35.80
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.2.1
colorama==0.4.6
curl_cffi==0.13.0
dataclasses-json==0.6.7
db==0.1.1
db-sqlite3==0.0.1
distro==1.9.0
docstring_parser==0.17.0
dotenv==0.9.9
dox==0.2.0
duckduckgo_search==8.1.1
exceptiongroup==1.2.2
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
frozendict==2.4.6
frozenlist==1.4.1
fsspec==2024.9.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.45
google_search_results==2.4.2
greenlet==3.1.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.25.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain
langchain-community
langchain-core
langchain-huggingface==0.1.0
langchain-openai==0.3.32
langchain-text-splitters==0.3.11
# langsmith==0.4.21
lxml==5.3.0
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.12
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.4
openai==1.99.9
orjson==3.10.7
package_name==0.1
packaging==24.1
pandas==2.2.2
pbr==0.11.1
pdfkit==1.0.0
peewee==3.18.2
pillow==10.4.0
platformdirs==4.3.8
primp==0.15.0
protobuf==6.32.0
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.6.1
pydantic_core==2.33.2
Pygments==2.19.2
pymssql==2.3.7
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.1.0
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
scrapegraph_py==1.18.2
sentence-transformers==3.1.0
serpapi==0.1.5
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.35
# -e git+https://github.com/Sameerpatil31/FBEXO_BEVSUMMARY.git@eebe8b71fc8d30c38dd7a8d7a281346f6f6bab78#egg=src
sympy==1.13.2
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.11.0
tokenizers==0.19.1
tomli==2.2.1
torch==2.4.1
tqdm==4.66.5
transformers==4.44.2
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
websockets==15.0.1
Werkzeug==3.0.4
yarl==1.11.1
yfinance==0.2.65
zipp==3.20.2
zstandard==0.24.0

-e .
